@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.container {
  font-family: "ColfaxAI", Helvetica, sans-serif;
  background-color: rgb(41, 37, 37);
  height: 120vh; /* Adjust height to fill the entire viewport */
  margin: 0;
  padding: 0;
}

.body {
  background-color: rgba(90, 82, 82, 0.1);
 
}

.main {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px; /* Adjust the spacing for mobile */
}

.main .idk {
  margin-top: 10px;
  font-size: 24px; /* Adjust the font size for mobile */
}

.icon {
  width: 40px;
  margin-top: -50px;
}

.messageContainer {
  border-radius: 10px;
  width: 80%;
  height: calc(100vh - 200px); /* Adjust the height for mobile */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -20px;
  background-color: gray;
  padding: 10px; /* Add padding for mobile */
}

.message {
  min-width: 80%; /* Adjust the width for mobile */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user {
  background-color: black;
  color: #fff;
}

.assistant {
  background-color: #272a2b;
  color: #fff;
  display: flex; /* Add display:flex to create a flex container */
  align-items: center; /* Center align items vertically */
}

.assistant .content {
  margin-left: 10px; /* Add margin to create space between the logo and text */
}

.assistant .icon {
  margin-top: 0px;
  width: 24px;
  margin-right: 10px; /* Add margin to create space between the logo and text */
}

.message p {
  margin: 0;
}

.message pre code {
  font-size: 14px;
  white-space: pre-wrap;
}

.form {
  display: flex;
  flex-direction: column; /* Adjust the flex direction for mobile */
}

.input {
  margin-top: 10px;
  height: 50px;
  font-size: 16px;
  width: 100%; /* Adjust the input width to occupy the full width on mobile */
  padding: 16px 16px;
  border: 2px solid #10a37f;
  border-radius: 10px;
  margin-bottom: 10px; /* Add margin bottom for mobile */
  outline-color: #10a37f;
}

.input::placeholder {
  color: #8e8ea0;
  opacity: 1;
}

.button {
  width: 100%; /* Adjust the button width to occupy the full width on mobile */
  font-size: 12px;
  padding: 16px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
