
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}


  .html {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  font-family: "ColfaxAI", Helvetica, sans-serif;
  background-color: rgb(41, 37, 37);
  height: 100%fit-content; /* Adjust height to fill the entire viewport */
  margin: 0;
  padding: 0;
}

.main {
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px; /* Adjust the spacing for mobile */
}

.main .idk {
  margin-top: 10px;
  font-size: 24px; /* Adjust the font size for mobile */
}

.icon {
  
  width: 40px;
  margin-top: -50px;
}

.messageContainer {
  border-radius: 10px;
  width: 80%;
  height: calc(100vh - 200px); /* Adjust the height for mobile */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -20px;
  background-color: gray;
  padding: 10px; /* Add padding for mobile */
}


.message {
  min-width: 92%; /* Adjust the width for mobile */
  max-width: 92%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  /* Apply styles for screens larger than 768px */
  .message {
    min-width: 98.5%; /* Adjust the width for larger screens */
  }
}

.user {
  background-color: black;
  color: #fff;
  display: flex; /* Add display:flex to create a flex container */
  align-items: center; /* Center align items vertically */
}

.assistant {
  background-color: #272a2b;
  color: #fff;
  display: flex; /* Add display:flex to create a flex container */
  align-items: center; /* Center align items vertically */
}

.assistant .content {
  margin-left: 10px; /* Add margin to create space between the logo and text */
}
.user .content {
  margin-left: 10px; /* Add margin to create space between the logo and text */
}
.user .icon{
  margin-top:0px;
  width: 24px;
  margin-right: 10px; /* Add margin to create space between the logo and text */
}

.assistant .icon, .user .icon{
  margin-top:0px;
  width: 24px;
  margin-right: 10px; /* Add margin to create space between the logo and text */
}

.message p {
  margin: 0px;
}

.message pre code {
  font-size: 14px;
  white-space: pre-wrap;
}


.form {
  width:320px;
  display: flex;
  flex-direction: row; /* Adjust the flex direction to be horizontal */
  align-items: center; /* Align items vertically in the center */
}
@media (min-width: 768px) {
  /* Apply styles for screens larger than 768px */
  .form {
    width: 1000px; /* Adjust the width for larger screens */
  }
}
.input {
  width: 85%;
  flex: 1; /* Allow the input to grow and occupy remaining space */
  margin-top: 10px;
  height: 50px;
  font-size: 16px;
  padding: 16px 16px;
  border: 2px solid #10a37f;
  border-radius: 10px;
  margin-bottom: 10px;
  outline-color: #10a37f;
}

.button {
  height:50px;
  width: 70px; /* Adjust the width of the button as needed */
  font-size: 12px;
  padding: 16px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin-left: 10px; /* Add margin between the input and the button */
}

